<div class="todo-item" *ngIf="todo" [class.completed]="todo.completed">
    <div class="check-box">
        <span class="material-symbols-outlined">check</span>
    </div>

    <div class="todo-text">
        {{ todo.text }}
    </div>

    <div class="todo-controls-box">
        <div class="todo-control-button">
            <span class="material-symbols-outlined">edit</span>
        </div>
        <div class="todo-control-button is-danger">
            <span class="material-symbols-outlined">delete</span>
        </div>
    </div>
</div>
